/*

   // Windows 10/11-ish titlebar - Core0.css

   // Copyright © 2025-2026 AstragonQC
   // Shared under exclusive use for BetterDiscord/Vencord clients

*/

/* Default Root */

:root {
    --W10ITB-ThemeRealVersion: "1.3.420";

    --custom-app-top-bar-height: calc(18px + var(--space-sm));
    --titleFontWithFallback: var(--titleFont), "gg sans", sans-serif;
}
/*
    User Theme Stub Loader Options:
    A new option will require a newer version of the Stub Loader to be customized.

    --titleFont
    --titleSize
    --titleBoldness
    --titleAfterDashText
    --titleDashText

    --titleBarColor
    --CaptionBarItemColor
    --LTCaptionBarItemColor
*/

/* ----------| Localization |---------- */

:root {
    --W10ITB-Loc-StubLoader: "Theme stub loader";
    --W10ITB-Loc-StubLoaderUpdate: "An update is available for the Theme Stub Loader";
}
[lang="fr"]:root {
    --W10ITB-Loc-StubLoader: "Chargeur de thème";
    --W10ITB-Loc-StubLoaderUpdate: "Une mise à jour est disponible pour le chargeur de thème";
}



/* ----------| Theme infos on card |---------- */

.bd-addon-list div[id="Windows 10/11-ish titlebar-card"]:has([class*="bd-switch"][class*="bd-switch-checked"]) .bd-version:before {
    content: "v" var(--W10ITB-ThemeRealVersion) " (" var(--W10ITB-Loc-StubLoader) " ";
}
.bd-addon-list div[id="Windows 10/11-ish titlebar-card"]:has([class*="bd-switch"][class*="bd-switch-checked"]) .bd-version:after {
    content: ") ";
}



/* ----------| Titlebar (Windows) |---------- */

  /* General */
    /* ----- Light theme adjustments ----- */

    .theme-light {
        --CaptionBarItemColor: var(--LTCaptionBarItemColor);
    }


    /* ----- General ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] {
        background: var(--titleBarColor);
    }


    /* ----- Adjusting element order ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"]) > [class*="bar_"] {
        display: inline-grid;
        grid-template-columns: auto 1fr auto;
        justify-content: start;
        gap: 0px;
    }
    :is(.platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] {
        padding-inline-end: 0 !important;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] {
        order: 1;
        margin: 0 !important;
        padding: 0 !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"]:before,
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"]:after {
        display: none !important;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="title_"] {
        order: 2;
        position: relative;
        justify-content: left;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="title_"] [class*="title_"] {
        padding: 0 0 0 8px !important;
        gap: 6px;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="trailing_"] {
        order: 3;
    }


    /* ----- Disable drag on button regions (when the secoundary bar is NOT displayed) ----- */

    :is(.platform-win, .platform-web) #app-mount:has(> [class*="bar_"][class*="show_"]) [class*="base_"] > [class*="bar_"] > :is([class*="leading_"], [class*="title_"]),
    :is(.platform-win, .platform-web) #app-mount:has(> [class*="bar_"][class*="show_"]) [class*="base_"] > [class*="bar_"] > [class*="title_"] :is([class*="guildIcon_"], svg),
    :is(.platform-win, .platform-web) #app-mount:has(> [class*="bar_"][class*="show_"]) [class*="base_"] > [class*="bar_"] > [class*="trailing_"] a *,
    :is(.platform-win, .platform-web) #app-mount:has(> [class*="bar_"][class*="show_"]) [class*="base_"] > [class*="bar_"] > [class*="trailing_"] [class*="clickable_"],
    :is(.platform-win, .platform-web) #app-mount:has(> [class*="bar_"][class*="show_"]) [class*="base_"] > [class*="bar_"] > [class*="trailing_"] [class*="winButtonsWithDivider_"]::before {
        -webkit-app-region: drag !important;
    }
    :is(.platform-win, .platform-web) #app-mount > [class*="bar_"][class*="show_"] > [class*="trailing_"] {
        -webkit-app-region: no-drag !important;
    }



  /* Left part */
    /* ----- Back/Forward Buttons ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] {
        padding: 0 4px 0 0;
        gap: 0;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"] {
        width: 45px !important;
        height: var(--custom-app-top-bar-height) !important;
        gap: 0;
        margin: 0;
        padding: 0;
        border-radius: 0 !important;
        opacity: 1;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"] > svg {
        height: 15px;
        width: 15px;
        scale: 1 !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"]:not([class*="disabled_"]) > svg path {
        fill: var(--CaptionBarItemColor) !important;
        opacity: 1 !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"][class*="disabled_"] > svg path {
        opacity: 0.5 !important;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"]:not([class*="disabled_"]):hover {
        background-color: var(--interactive-background-hover);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"]:not([class*="disabled_"]):active {
        background-color: var(--interactive-background-selected);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"][class*="back_"] > svg path {
        d: path("M10.733 19.79a.75.75 0 0 0 1.034-1.086L5.516 12.75H20.25a.75.75 0 0 0 0-1.5H5.516l6.251-5.955a.75.75 0 0 0-1.034-1.086l-7.42 7.067a.995.995 0 0 0-.3.58.754.754 0 0 0 .001.289.995.995 0 0 0 .3.579l7.419 7.067Z") !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="leading_"] > [class*="backForwardButtons_"] > [class*="button_"][class*="forward_"] > svg path {
        d: path("M13.267 4.209a.75.75 0 0 0-1.034 1.086l6.251 5.955H3.75a.75.75 0 0 0 0 1.5h14.734l-6.251 5.954a.75.75 0 0 0 1.034 1.087l7.42-7.067a.996.996 0 0 0 .3-.58.758.758 0 0 0-.001-.29.995.995 0 0 0-.3-.578l-7.419-7.067Z") !important;
    }


    /* ----- Icon ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="title_"] [class*="guildIcon_"] {
        background: var(--CaptionBarItemColor) !important;

        --W10ITB-icon-mask: url('data:image/svg+xml,%3Csvg%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M19.73%204.87a18.2%2018.2%200%200%200-4.6-1.44c-.21.4-.4.8-.58%201.21-1.69-.25-3.4-.25-5.1%200-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6%201.43A19.04%2019.04%200%200%200%20.96%2017.7a18.43%2018.43%200%200%200%205.63%202.87c.46-.62.86-1.28%201.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37%203.58%201.7%207.7%201.7%2011.28%200l.46.37c-.6.36-1.25.67-1.9.92.35.7.75%201.35%201.2%201.98%202.03-.63%203.94-1.6%205.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3%2015.12c-1.1%200-2-1.02-2-2.27%200-1.24.88-2.26%202-2.26s2.02%201.02%202%202.26c0%201.25-.89%202.27-2%202.27Zm7.4%200c-1.1%200-2-1.02-2-2.27%200-1.24.88-2.26%202-2.26s2.02%201.02%202%202.26c0%201.25-.88%202.27-2%202.27Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');

        -webkit-mask-image: var(--W10ITB-icon-mask);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;

        mask-image: var(--W10ITB-icon-mask);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;

        height: 16px !important;
        width: 16px !important;
        border-radius: 0px !important;

        -webkit-app-region: no-drag;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="title_"] svg {
        height: 16px !important;
        width: 16px !important;

        -webkit-app-region: no-drag;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="title_"] svg path:first-child {
        d: path("M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z") !important;
        fill: var(--CaptionBarItemColor);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="title_"] svg path:not(:first-child) {
        display: none !important;
    }


    /* ----- Text ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="lineClamp1_"] {
        font-family: var(--titleFontWithFallback);
        font-size: var(--titleSize);
        font-weight: var(--titleBoldness) !important;
        color: var(--CaptionBarItemColor);

        display: inline-grid;
        grid-template-columns: auto auto 1fr;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="lineClamp1_"]:after {
        content: "\00a0" var(--titleDashText) "\00a0" var(--titleAfterDashText);
    }
  /*:is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="lineClamp1_"]:before {
        content: "\00a0(" var(--W10ITB-Loc-StubLoaderUpdate) ")";

        order: 999;
        opacity: 0.25;

        font-family: var(--titleFontWithFallback);
        font-size: var(--titleSize);
        font-weight: var(--titleBoldness) !important;
        color: var(--CaptionBarItemColor);
    } */


  /* Right part */
    /* ----- Common ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="trailing_"],
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButtons_"] {
        gap: 0 !important;
    }


    /* ----- Separator ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButtonsWithDivider_"]:before {
        border-left-color: var(--CaptionBarItemColor);
        opacity: 0.25;
        margin-inline: var(--space-12);
    }


    /* ----- System caption buttons ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButton_"] {
        width: 45px !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButtonClose_"]:hover {
        background-color: #c42b1c;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButtonClose_"]:active {
        background-color: #b22a1c;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButton_"] :is(rect, polygon) {
        color: var(--CaptionBarItemColor) !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="winButton_"]:hover polygon {
        color: #ffffff !important;
    }


    /* ----- Other buttons on titlebar ----- */

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] > [class*="trailing_"] :is([class*="iconWrapper_"], [class*="clickable_"]) {
        width: 45px !important;
        height: var(--custom-app-top-bar-height) !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] :is([class*="iconWrapper_"], [class*="clickable_"]) > svg {
        width: 16px;
        height: 16px;
        scale: 1 !important;
        background-color: transparent !important;
        border-radius: 0 !important;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"] > svg {
        width: 44px;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] :is([class*="iconWrapper_"], [class*="clickable_"]) > svg path {
        fill: var(--CaptionBarItemColor);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] circle {
        display: none;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"] [class*="badge_"] {
        bottom: 8px;
        right: 16px;
        height: 6px;
        width: 6px;
        box-shadow: 0 0 0 1px #fff;
    }

    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"]:hover {
        background-color: var(--interactive-background-hover);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"]:is([aria-expanded="true"], [class*="selected_"], :active) {
        background-color: var(--interactive-background-selected);
    }

    /* "Last Meadow Online" icon */
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"] svg:has(path[d="M4.534 8.646c-.303.199-.606.38-.91.562l-.019.01c-.253.151-.504.301-.764.466-.565.357-1.123.763-1.598 1.327a5 5 0 0 0-.47.662c-.259.435-.47.94-.626 1.537-.09.34.127.686.485.77.357.086.719-.121.808-.462q.121-.457.283-.813c1.317.05 6.03-.023 8.485-3.392 2.327-3.194 1.925-6.46 1.34-8.828-.127-.518-.84-.642-1.232-.27C9.118 1.36 7.853 1.688 6.534 2.031c-1.559.405-3.196.831-4.902 2.641C-.173 6.586-.192 8.647.216 10.2c.597-.704 1.279-1.19 1.888-1.575q.414-.26.79-.482l.004-.002c.888-.53 1.61-.965 2.36-1.799a.69.69 0 0 1 .94-.068c.28.228.312.63.073.896l-.175.189a8.8 8.8 0 0 1-1.562 1.287"]) {
        margin-top: 1px;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"]:has(path[d="M4.534 8.646c-.303.199-.606.38-.91.562l-.019.01c-.253.151-.504.301-.764.466-.565.357-1.123.763-1.598 1.327a5 5 0 0 0-.47.662c-.259.435-.47.94-.626 1.537-.09.34.127.686.485.77.357.086.719-.121.808-.462q.121-.457.283-.813c1.317.05 6.03-.023 8.485-3.392 2.327-3.194 1.925-6.46 1.34-8.828-.127-.518-.84-.642-1.232-.27C9.118 1.36 7.853 1.688 6.534 2.031c-1.559.405-3.196.831-4.902 2.641C-.173 6.586-.192 8.647.216 10.2c.597-.704 1.279-1.19 1.888-1.575q.414-.26.79-.482l.004-.002c.888-.53 1.61-.965 2.36-1.799a.69.69 0 0 1 .94-.068c.28.228.312.63.073.896l-.175.189a8.8 8.8 0 0 1-1.562 1.287"]):hover {
        background: linear-gradient(180deg, #68db7d60, #52985f60);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"]:has(path[d="M4.534 8.646c-.303.199-.606.38-.91.562l-.019.01c-.253.151-.504.301-.764.466-.565.357-1.123.763-1.598 1.327a5 5 0 0 0-.47.662c-.259.435-.47.94-.626 1.537-.09.34.127.686.485.77.357.086.719-.121.808-.462q.121-.457.283-.813c1.317.05 6.03-.023 8.485-3.392 2.327-3.194 1.925-6.46 1.34-8.828-.127-.518-.84-.642-1.232-.27C9.118 1.36 7.853 1.688 6.534 2.031c-1.559.405-3.196.831-4.902 2.641C-.173 6.586-.192 8.647.216 10.2c.597-.704 1.279-1.19 1.888-1.575q.414-.26.79-.482l.004-.002c.888-.53 1.61-.965 2.36-1.799a.69.69 0 0 1 .94-.068c.28.228.312.63.073.896l-.175.189a8.8 8.8 0 0 1-1.562 1.287"]):ACTIVE {
        background: linear-gradient(180deg, #68db7d90, #52985f90);
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"] path[d="M4.534 8.646c-.303.199-.606.38-.91.562l-.019.01c-.253.151-.504.301-.764.466-.565.357-1.123.763-1.598 1.327a5 5 0 0 0-.47.662c-.259.435-.47.94-.626 1.537-.09.34.127.686.485.77.357.086.719-.121.808-.462q.121-.457.283-.813c1.317.05 6.03-.023 8.485-3.392 2.327-3.194 1.925-6.46 1.34-8.828-.127-.518-.84-.642-1.232-.27C9.118 1.36 7.853 1.688 6.534 2.031c-1.559.405-3.196.831-4.902 2.641C-.173 6.586-.192 8.647.216 10.2c.597-.704 1.279-1.19 1.888-1.575q.414-.26.79-.482l.004-.002c.888-.53 1.61-.965 2.36-1.799a.69.69 0 0 1 .94-.068c.28.228.312.63.073.896l-.175.189a8.8 8.8 0 0 1-1.562 1.287"] {
        d: path("M 0,1.6273585 V 4.2042297 C -5.4230868e-5,6.2614235 1.7208717,7.9003094 3.7756112,7.7998498 3.9313357,8.3232985 4.1879403,8.8112346 4.5309735,9.236178 l -1.3979302,1.39733 c -0.4096269,0.409451 0.2122437,1.030745 0.6359682,0.635901 L 5.1669417,9.872147 C 7.9141887,12.084642 11.999978,10.129103 12,6.6017098 V 3.4530673 C 12,2.8731971 11.529922,2.4031195 10.950052,2.4031198 H 7.8008104 c -0.349783,0 -0.6899659,0.042598 -1.0151497,0.1229938 C 6.1627146,1.3438784 4.9361364,0.60400457 3.59982,0.60440953 H 1.0229489 C 0.45837709,0.60440953 0,1.0621867 0,1.6273585 Z M 5.8083096,9.231379 8.2663874,6.7751012 C 8.6612316,6.3513767 8.0541424,5.7442882 7.6304184,6.139133 L 5.1723414,8.5954099 C 3.5252338,6.422656 5.0749056,3.3031542 7.8014094,3.3030748 h 3.1486426 c 0.08284,-3e-7 0.149993,0.067154 0.149993,0.1499925 V 6.6017098 C 11.100087,9.3279341 7.9812163,10.877822 5.8083096,9.231379 Z M 3.6010199,1.5043646 c 0.9935504,0 1.8623069,0.5369732 2.3308835,1.3367333 C 5.2742525,3.1692472 4.7137654,3.6635513 4.3059847,4.2750262 L 3.1666417,3.1362831 C 2.7429179,2.7414532 2.1358436,3.3485275 2.5306735,3.7722513 L 3.8728064,5.1149842 C 3.6570378,5.6853412 3.5683782,6.2959251 3.6130193,6.9040947 H 3.59982 c -1.4910943,0 -2.69986501,-1.2087707 -2.69986501,-2.699865 V 1.6273585 c 0,-0.067797 0.055197,-0.1229939 0.12299391,-0.1229939 H 3.59982 Z");
    }

    /* Bookmark icon */
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"][aria-expanded][aria-disabled] svg:has(path[d="M4 5a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v16a1 1 0 0 1-1.67.74l-5.66-5.13a1 1 0 0 0-1.34 0l-5.66 5.13A1 1 0 0 1 4 20.99V5Z"]) {
        height: 15px;
    }
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"][aria-expanded][aria-disabled] path[d="M4 5a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v16a1 1 0 0 1-1.67.74l-5.66-5.13a1 1 0 0 0-1.34 0l-5.66 5.13A1 1 0 0 1 4 20.99V5Z"] {
        d: path("M 5.19,20.854 C 4.6934191,21.211256 3.9990331,20.8557 4,20.244 V 4.75 C 4,2.9550746 5.4570746,1.5 7.252,1.5 h 9.499 c 1.794144,5.52e-4 3.248448,1.4558555 3.249,3.25 v 15.495 c 1.51e-4,0.61128 -0.691791,0.965988 -1.188,0.609 l -6.811,-5.181 -6.812,5.18 z M 18.5,4.75 C 18.5,3.7835017 17.716498,3 16.75,3 H 7.253 C 6.2865017,3 5.503,3.7835017 5.503,4.75 v 14.031 l 6.062,-4.64 c 0.26166,-0.188246 0.61434,-0.188246 0.876,0 l 6.06,4.64 V 4.75 Z") !important;
    }

    /* Inbox icon */
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"][aria-expanded][aria-disabled] path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z"] {
        d: path("M6.25 3h11.5a3.25 3.25 0 0 1 3.24 3.07l.01.18v11.5a3.25 3.25 0 0 1-3.07 3.24l-.18.01H6.25a3.25 3.25 0 0 1-3.24-3.07L3 17.75V6.25a3.25 3.25 0 0 1 3.07-3.24L6.25 3h11.5-11.5ZM4.5 14.5v3.25c0 .92.7 1.67 1.6 1.74l.15.01h11.5c.92 0 1.67-.7 1.74-1.6l.01-.15V14.5h-3.82a3.75 3.75 0 0 1-3.48 3H12a3.75 3.75 0 0 1-3.63-2.81l-.04-.19H4.5v3.25-3.25Zm13.25-10H6.25c-.92 0-1.67.7-1.74 1.6l-.01.15V13H9c.38 0 .7.28.74.65l.01.1a2.25 2.25 0 0 0 4.5.15v-.15c0-.38.28-.7.65-.74L15 13h4.5V6.25c0-.92-.7-1.67-1.6-1.74l-.15-.01Z") !important;
    }

    /* Help icon */
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] a[href="https://support.discord.com"] path {
        d: path("M12 4a5 5 0 0 0-5 5 .75.75 0 0 0 1.5 0 3.5 3.5 0 1 1 7 0c0 .85-.22 1.42-.53 1.86a5.82 5.82 0 0 1-1.44 1.34c-1 .77-2.28 1.73-2.28 3.8v.25a.75.75 0 0 0 1.5 0V16c0-1.32.71-1.86 1.79-2.68l.04-.04c.53-.4 1.15-.88 1.62-1.56A5 5 0 0 0 12 4Zm0 17a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z") !important;
    }

    /* Update icon */
    :is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] svg path[fill="var(--green-360)"] {
        d: path("M19.25 20.5a.75.75 0 1 1 0 1.5l-16 .004a.75.75 0 1 1 0-1.5l13-.004ZM11.648 2.012l.102-.007a.75.75 0 0 1 .743.648l.007.102-.001 13.685 3.722-3.72a.75.75 0 0 1 .976-.073l.085.073a.75.75 0 0 1 .072.976l-.073.084-4.997 4.997a.75.75 0 0 1-.976.073l-.085-.073-5.003-4.996a.75.75 0 0 1 .976-1.134l.084.072 3.719 3.714L11 2.755a.75.75 0 0 1 .648-.743l.102-.007-.102.007Z") !important;
    }

/* ---------- */

/* ---- Vencord's DevTools button ---- */

:is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"][aria-label="DevTools"] svg {
    height: 14px !important;
}
:is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"][aria-label="DevTools"] path:first-of-type {
    d: path("M10.5 7.751a5.75 5.75 0 0 1 8.38-5.114.75.75 0 0 1 .186 1.197L16.301 6.6l1.06 1.06 2.779-2.778a.75.75 0 0 1 1.193.179 5.75 5.75 0 0 1-6.422 8.284l-7.365 7.618a3.05 3.05 0 0 1-4.387-4.24l7.475-7.734a5.766 5.766 0 0 1-.134-1.238Zm5.75-4.25a4.25 4.25 0 0 0-4.067 5.489.75.75 0 0 1-.178.74l-7.768 8.035a1.55 1.55 0 1 0 2.23 2.156l7.676-7.941a.75.75 0 0 1 .775-.191 4.25 4.25 0 0 0 5.466-5.03l-2.492 2.492a.75.75 0 0 1-1.061 0L14.71 7.13a.75.75 0 0 1 0-1.06l2.466-2.467a4.268 4.268 0 0 0-.926-.102Z") !important;
}
:is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] [class*="clickable_"][aria-label="DevTools"] path:not(:first-of-type) {
    display: none;
}

/* ---- "PingNotification" 3rd-Party plugin ---- */

.pn-hist-button {
    width: 45px !important;
    height: var(--custom-app-top-bar-height) !important;
    margin: 0;
    padding: 0;
    border-radius: 0;

    background: transparent;
}
.pn-hist-button:before {
    content: "";
    display: block;
    height: 100%;
    
    background: var(--CaptionBarItemColor);

    --W10ITB-PNHist-IconMask: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 6,0 c 3.258,0 5.9088,2.596199 5.9976,5.8319978 L 12,5.9999977 V 6.9149974 A 2.4,2.399999 0 0 1 7.551,8.1509966 C 7.071,8.6507965 6.4218,8.9597964 5.7,8.9597964 4.191,8.9597964 3,7.6097969 3,5.9801977 3,4.3499983 4.191,2.9999989 5.7,2.9999989 c 0.5622,0 1.08,0.1871999 1.5084,0.5063998 a 0.6,0.59999977 0 0 1 1.188,0.024 l 0.0036,0.0696 v 3.2999987 a 1.2,1.1999995 0 0 0 2.3964,0.09 l 0.003,-0.105 V 5.9999977 A 4.8,4.7999981 0 1 0 6,10.799996 c 0.5526,0 1.092,-0.09298 1.602,-0.2736 a 0.60014179,0.60014152 0 1 1 0.4002,1.1316 5.991,5.9909977 0 0 1 -2.0022,0.342 c -3.3138,0 -6,-2.6862 -6,-5.9999983 C 0,2.6861989 2.6862,0 6,0 Z m -0.21,4.2029984 -0.09,-0.003 c -0.81,0 -1.5,0.7811997 -1.5,1.7801993 0,0.9983996 0.69,1.7795991 1.5,1.7795991 0.78,0 1.449,-0.7241995 1.497,-1.6697991 l 0.00294,-0.132 C 7.1898,5.0063981 6.555,4.2575984 5.79,4.2029984 l -0.09,-0.003 z' fill='%23ffffff'/%3E%3C/svg%3E");
    
    -webkit-mask-image: var(--W10ITB-PNHist-IconMask);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 12px;
    -webkit-mask-position: center;

    mask-image: var(--W10ITB-PNHist-IconMask);
    mask-repeat: no-repeat;
    mask-size: 12px;
    mask-position: center;
}
.pn-hist-button:hover {
    background: var(--interactive-background-hover);
}
.pn-hist-button:is(:active, [aria-expanded="true"]) {
    background: var(--interactive-background-selected);
}
.pn-hist-button > svg {
    display: none;
}

/* ---- "PasscodeLock" 3rd-Party plugin ---- */

:is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] :is([class*="iconWrapper_"], [class*="clickable_"]) > svg:has(path[d^="M19,10h-1V7.69c0-3.16-2.57-5.72-5.72-5.72H11.8C8.6"]) {
    width: 15px;
}
:is(.platform-win, .platform-web) :is([class*="base_"], #app-mount) > [class*="bar_"] :is([class*="iconWrapper_"], [class*="clickable_"]) > svg path[d^="M19,10h-1V7.69c0-3.16-2.57-5.72-5.72-5.72H11.8C8.6"] {
    d: path("m 12,2 c 2.209139,0 4,1.790861 4,4 v 3 h 2.75 C 19.992641,9 21,10.007359 21,11.25 v 8.5 C 21,20.992641 19.992641,22 18.75,22 H 5.25 C 4.0073593,22 3,20.992641 3,19.75 v -8.5 C 3,10.007359 3.9788529,9 5.25,9 H 8 V 6 C 8,3.790861 9.790861,2 12,2 Z m 6.75,8.5 H 5.25 c -0.4142136,0 -0.75,0.335786 -0.75,0.75 v 8.5 c 0,0.414 0.336,0.75 0.75,0.75 h 13.5 c 0.414214,0 0.75,-0.335786 0.75,-0.75 v -8.5 c 0,-0.414214 -0.335786,-0.75 -0.75,-0.75 z M 12,14 c 1.999999,0 1.999999,3 0,3 -1.999999,0 -1.999999,-3 0,-3 z M 12,3.5 C 10.619288,3.5 9.5,4.6192881 9.5,6 v 3 h 5 V 6 C 14.5,4.6192881 13.380712,3.5 12,3.5 Z");
}

/* ---- "CSS Snippet Repo" 3rd-Party plugin ---- */

.sr-toolbar-button {
    width: 45px !important;
    height: var(--custom-app-top-bar-height) !important;
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sr-toolbar-button:hover {
    background: var(--interactive-background-hover);
}
.sr-toolbar-button:active {
    background: var(--interactive-background-selected);
}
.sr-toolbar-button > svg {
    stroke: var(--CaptionBarItemColor);
    width: 14px;
    height: 14px;
}
.sr-toolbar-button > svg circle {
    display: inherit !important;
}






