/*

   // Windows 10/11-ish titlebar - Core0.css

   // Copyright © 2025-2026 AstragonQC
   // Shared under exclusive use for BetterDiscord/Vencord clients

*/

/* Default Root */

:root {
    --W10ITB-ThemeRealVersion: "1.4.500";

    --custom-app-top-bar-height: calc(18px + var(--space-sm));
    --titleFontWithFallback: var(--titleFont), "gg sans", sans-serif;
}
/*
    User Theme Stub Loader Options:
    A new option will require a newer version of the Stub Loader to be customized.

    --titleFont
    --titleSize
    --titleBoldness
    --titleAfterDashText
    --titleDashText

    --titleBarColor
    --CaptionBarItemColor
    --LTCaptionBarItemColor
*/

/* ----------| Localization |---------- */

:root {
    --W10ITB-Loc-StubLoader: "Theme stub loader";
    --W10ITB-Loc-StubLoaderUpdate: "An update is available for the Theme stub loader";
    --W10ITB-Loc-StubIsOutdated: "This version of the stub loader is out of date. Server-side updates halted.";
}
[lang="fr"]:root {
    --W10ITB-Loc-StubLoader: "Chargeur de thème";
    --W10ITB-Loc-StubLoaderUpdate: "Une mise à jour est disponible pour le chargeur de thème";
    --W10ITB-Loc-StubIsOutdated: "Cette version du chargeur de thème est obsolète. Mises à jour côté serveur arrêtées.";
}



/* ----------| Theme infos on card |---------- */

.bd-addon-list div#Windows\ 10\/11-ish\ titlebar-card:has(.bd-switch-checked) .bd-version:before {
    content: "v" var(--W10ITB-ThemeRealVersion) " (" var(--W10ITB-Loc-StubLoader) " ";
}
.bd-addon-list div#Windows\ 10\/11-ish\ titlebar-card:has(.bd-switch-checked) .bd-version:after {
    content: ") ";
}



/* ----------| Titlebar (Windows) |---------- */

  /* General */
    /* ----- Light theme adjustments ----- */
    .theme-light {
        --CaptionBarItemColor: var(--LTCaptionBarItemColor);
    }

    /* ----- General ----- */
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] {
        background: var(--titleBarColor);
        gap: 0px;
        padding-inline-end: 0;
    }
    :not(.platform-osx) div[class^="base__"] > [class^="bar_"] {
        display: inline-grid;
        grid-template-columns: auto 1fr auto;
        justify-content: start;
    }

    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] * {
        gap: 0;
    }

    /* ----- General - Buttons ----- */
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] div[role="button"] {
        width: 46px;
        height: var(--custom-app-top-bar-height) !important;
        margin: 0;
        padding: 0;
        border-radius: 0 !important;
        opacity: 1;
        /*box-shadow: inset 0 0 0 1px #fff !important;*/
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"]:not(div[class*="back_"]) {
        margin-left: -1px;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"]:not(div[class^="winButton_"]) > * {
        display:none;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"]:not(div[class^="winButton_"]):after {
        content: "";
        width: 16px;
        height: 16px;
        background:var(--CaptionBarItemColor);

        -webkit-mask-image: var(--W10ITB-icon-mask);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;

        mask-image: var(--W10ITB-icon-mask);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
    }

    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] div[role="button"]:not([class*="disabled_"]):hover {
        background-color: var(--interactive-background-hover);
    }
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] div[role="button"]:not([class*="disabled_"]):is([aria-expanded="true"], [class*="selected_"], :active) {
        background-color: var(--interactive-background-selected);
    }

    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"][class*="disabled_"] {
        opacity: 0.5 !important;
    }

    /* ----- General - System buttons ----- */
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] div[class^="winButton_"] :is(rect, polygon) {
        color: var(--CaptionBarItemColor) !important;
    }

    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] div[role="button"][class*="winButtonClose_"]:hover {
        background-color: #c42b1c !important;
    }
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] div[role="button"][class*="winButtonClose_"]:active {
        background-color: #b22a1c !important;
    }

    /* ----- General - Buttons' separator ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class*="winButtonsWithDivider_"]:before {
        border-left-color: var(--CaptionBarItemColor);
        opacity: 0.25;
        margin-inline: var(--space-12);
    }

    /* ----- General - Show simple titlebar when no connect screen is displayed ----- */
    div#app-mount:has([class*="container_"] > div[class*="problems_"]) > div[class^="bar_"] {
        display: flex !important;
    }

    /* ----- Adjusting element order ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="leading_"] {
        order: 1;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"] {
        order: 2;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="trailing_"] {
        order: 3;
    }


  /* Structure */
    /* ----- Left - "Leading" ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="leading_"]:before,
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="leading_"]:after {
        display: none !important;
    }

    /* ----- Middle - "Title" ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"] > div[class^="title_"] {
        padding: 0 0 0 var(--space-12) !important;
        gap: 6px !important;
        display: inline-grid;
        grid-template-columns: auto 1fr;
        max-width: none;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"] {
        position: relative;
        justify-content: left;
        
        border: none !important;
        padding-right: var(--space-12);
        display: inline-grid;
        grid-template-columns: auto 1fr auto;
    }


    /* ----- Disable drag on button regions (when the secoundary bar is NOT displayed) ----- */

    :not(.platform-osx) div#app-mount:has(> div[class^="bar_"][class*="show_"]) div[class^="base__"] > div[class^="bar_"] > :is(div[class^="leading_"], div[class^="title_"]),
    :not(.platform-osx) div#app-mount:has(> div[class^="bar_"][class*="show_"]) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"] :is(div[class*="guildIcon_"], svg),
    :not(.platform-osx) div#app-mount:has(> div[class^="bar_"][class*="show_"]) div[class^="base__"] > div[class^="bar_"] > div[class^="trailing_"] a *,
    :not(.platform-osx) div#app-mount:has(> div[class^="bar_"][class*="show_"]) div[class^="base__"] > div[class^="bar_"] > div[class^="trailing_"] [class*="clickable_"],
    :not(.platform-osx) div#app-mount:has(> div[class^="bar_"][class*="show_"]) div[class^="base__"] > div[class^="bar_"] > div[class^="trailing_"] [class*="winButtonsWithDivider_"]::before {
        -webkit-app-region: drag !important;
    }
    :not(.platform-osx) div#app-mount > div[class^="bar_"][class*="show_"] > div[class^="trailing_"] {
        -webkit-app-region: no-drag !important;
    }


  /* Left part */
    /* ----- Back/Forward Buttons ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"][class*="back_"]:after {
        --W10ITB-icon-mask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-Back.svg");
        height: 15px !important; /* TEMP - Fix rendering to new method */
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"][class*="forward_"]:after {
        --W10ITB-icon-mask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-Forward.svg");
        height: 15px !important; /* TEMP - Fix rendering to new method */
    }


  /* Middle part */
    /* ----- Icon ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class^="title_"] div[class*="guildIcon_"],
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class^="title_"] svg {
        background: var(--CaptionBarItemColor) !important;

        --W10ITB-icon-mask: url("https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/66e278299a53f5bf88615e90_Symbol.svg");

        -webkit-mask-image: var(--W10ITB-icon-mask);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: center;

        mask-image: var(--W10ITB-icon-mask);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;

        height: 16px !important;
        width: 16px !important;
        border-radius: 0px !important;

        -webkit-app-region: no-drag;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class^="title_"] svg path {
        display: none !important;
    }

    /* ----- Text - Left ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class*="lineClamp1_"] {
        display: inline-grid;
        grid-template-columns: auto auto 1fr;

        --W10ITB-INT-LineHeight: 1.4;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class*="lineClamp1_"],
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class*="lineClamp1_"]:after,
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class*="lineClamp1_"]:before{
        font-family: var(--titleFontWithFallback) !important;
        font-size: var(--titleSize) !important;
        font-weight: var(--titleBoldness) !important;
        color: var(--CaptionBarItemColor) !important;
        line-height: var(--W10ITB-INT-LineHeight) !important;
        max-height: calc(var(--titleSize) * var(--W10ITB-INT-LineHeight)) !important;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class*="lineClamp1_"]:after {
        content: "\00a0" var(--titleDashText) "\00a0" var(--titleAfterDashText);
    }
    /* :not(.platform-osx):has(style#Win10ishTitlebar-theme-container) div[class^="base__"] > div[class^="bar_"] div[class*="lineClamp1_"]:before {
        content: "\00a0(" var(--W10ITB-Loc-StubLoaderUpdate) ")";
        order: 999;
        opacity: 0.25;
        
        overflow: hidden;
        text-overflow: ellipsis;
    } */

    /* ----- Text - Right ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"] {
        --W10ITB-INT-LineHeight: 1.4;
        
        background: none !important;
        white-space: nowrap;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"],
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"]:before,
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"]:after{
        font-family: var(--titleFontWithFallback) !important;
        font-size: var(--titleSize) !important;
        font-weight: var(--titleBoldness) !important;
        color: var(--CaptionBarItemColor) !important;
        line-height: var(--W10ITB-INT-LineHeight) !important;
        max-height: calc(var(--titleSize) * var(--W10ITB-INT-LineHeight)) !important;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"]:before {
        order: 2;
        margin: 0 !important;
        padding: 0 0 0 var(--space-12) !important;
    }
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] > div[class^="title_"]:after {
        order: 3;
        margin: 0 !important;
    }


  /* Right part */
    /* ----- Inbox button ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[class^="iconWrapper_"]:has(div[class^="pulse_"]) div[role="button"]:after {
        --W10ITB-icon-mask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-Inbox.svg");
    }

    /* TODO : Update these two rules
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] circle {
        display: none;
    }
    :not(.platform-osx) :is(div[class^="base__"], div#app-mount) > div[class^="bar_"] [class*="clickable_"] [class*="badge_"] {
        bottom: 8px;
        right: 16px;
        height: 6px;
        width: 6px;
        box-shadow: 0 0 0 1px #fff;
    } */

    /* ----- Help button ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] a div[role="button"]:after {
        --W10ITB-icon-mask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-Help.svg");
    }

    /* ----- Update button ----- */
    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"]:has(path[fill="var(--green-360)"]):after {
        --W10ITB-icon-mask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-Update.svg");
    }

/* ---------- */

    /* ---- Vencord's DevTools button ---- */

    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"] div[role="button"][aria-label="DevTools"]:after {
        --W10ITB-icon-mask: url("https://cdn.discordapp.com/attachments/618851288825856010/1544269138086592512/W10ITB-Icon-ThirdParty-Vencord-DevTools.svg?ex=6a97e435&is=6a9692b5&hm=2abbaa333962fa25dddc11dfde21252e9ed5fed0b13b025eb7f878a59139e9bd&");
    }


    /* ----- "PingNotification" 3rd-Party plugin ----- */

    .pn-hist-button {
        width: 46px !important;
        height: var(--custom-app-top-bar-height) !important;
        margin: 0;
        padding: 0;
        border-radius: 0;

        background: transparent;
    }
    .pn-hist-button:before {
        content: "";
        display: block;
        height: 100%;

        background: var(--CaptionBarItemColor);

        --W10ITB-PNHist-IconMask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-ThirdParty-PingNotification.svg");
    
        -webkit-mask-image: var(--W10ITB-PNHist-IconMask);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 12px;
        -webkit-mask-position: center;

        mask-image: var(--W10ITB-PNHist-IconMask);
        mask-repeat: no-repeat;
        mask-size: 12px;
        mask-position: center;
    }
    .pn-hist-button:hover {
        background: var(--interactive-background-hover);
    }
    .pn-hist-button:is(:active, [aria-expanded="true"]) {
        background: var(--interactive-background-selected);
    }
    .pn-hist-button > svg {
        display: none;
    }


    /* ----- "PasscodeLock" 3rd-Party plugin ----- */

    :not(.platform-osx) div[class^="base__"] > div[class^="bar_"]  div[role="button"]:has(path[d^="M19,10h-1V7.69c0-3.16-2.57-5.72-5.72-5"]):after {
        --W10ITB-icon-mask: url("https://kiki79250coc.github.io/BetterDiscordAddons/Themes/Win10ishTitlebar/SVG/W10ITB-Icon-ThirdParty-PasscodeLock.svg");
    }

    /* ---- "CSS Snippet Repo" 3rd-Party plugin ---- */

    .sr-toolbar-button {
        width: 46px !important;
        height: var(--custom-app-top-bar-height) !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sr-toolbar-button:hover {
        background: var(--interactive-background-hover);
    }
    .sr-toolbar-button:active {
        background: var(--interactive-background-selected);
    }
    .sr-toolbar-button > svg {
        stroke: var(--CaptionBarItemColor);
        width: 14px;
        height: 14px;
    }
    .sr-toolbar-button > svg circle {
        display: inherit !important;
    }

/* ---------- */
